<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chamilo Test Suite">
<test name="Chamilo Test">


<classes>

<class name="com.chamilo.testcases.Enroll_Users_test"></class>
<class name="com.chamilo.testcases.Add_Announcement_test"></class>

</classes>
</test>
</suite>
